{% extends "main.html" %}

{% block main %}

    <div class="main__container">
        <h2 class="heading-secondary unavailable">
            Most Popular shows
        </h2>

        <div class="popular">
            
            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Death Note</h3>
                    <img class="popular__box-img" src="../static/images/death-note.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Shingeki</h3>
                    <img class="popular__box-img" src="../static/images/shingeki.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Sword Art Online</h3>
                    <img class="popular__box-img" src="../static/images/swort-art.jpg" alt="">
                </a>
            </div>



            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Fullmetal Alchemist</h3>
                    <img class="popular__box-img" src="../static/images/full-metal-alchemist.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">One Punch Man</h3>
                    <img class="popular__box-img" src="../static/images/one-punch.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Tokyo Ghoul</h3>
                    <img class="popular__box-img" src="../static/images/tokyo-ghoul.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Steins Gate</h3>
                    <img class="popular__box-img" src="../static/images/steins-gate.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Boku no Hero Academia</h3>
                    <img class="popular__box-img" src="../static/images/boku-no-hero.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">No Game No Life</h3>
                    <img class="popular__box-img" src="../static/images/no-game-no-life.jpg" alt="">
                </a>
            </div>

            <div class="popular__box">
                <a class="popular__box-link" href="https://gogoanime.pro/">
                    <h3 class="heading-tertiary margin-bottom-small">Naruto</h3>
                    <img class="popular__box-img" src="../static/images/naruto.jpg" alt="">
                </a>
            </div>
    
            

            
        </div>

{% endblock main %}