{% extends "main.html" %}

{% block main %}

{% if message %}
<h3 class="error">{{ message }}</h3>
{% endif %}

    <div class="main__container">
        <h2 class="heading-secondary">
            2020 Release's
        </h2>

        <div class="posts">
            <img class="posts-img" src="../static/images/kaguya-2020.jpg" alt="Photo Boku">

            <div class="posts__info">
                <h3 class="heading-tertiary posts-title ">Kaguya-sama wa Kokurasetai</h3>

                <p class="paragraph-info">After a slow but eventful summer vacation, Shuchiin Academy's second term is now starting in full force. As August transitions into September, Miyuki Shirogane's birthday looms ever closer, leaving Kaguya Shinomiya in a serious predicament as to how to celebrate it. Furthermore, the tenure of the school's 67th student council is coming to an end. Due to the council members being in different classes, the only time Kaguya and Miyuki have to be together will soon disappear, putting all of their cunning plans at risk.
                    A long and difficult election that will decide the fate of the new student council awaits, as multiple challengers fight for the coveted title of president.</p>

                <ul class="posts__info-list">
                    <li class="posts__info-item">Psychological</li>
                    <li class="posts__info-item">Comedy</li>
                    <li class="posts__info-item">School</li>
                    <li class="posts__info-item">Romance</li>
                    <li class="posts__info-item">Seinen</li>
                </ul>
            </div>
           
        </div>

        <div class="posts">
            <img class="posts-img" src="../static/images/kami-2020.jpg" alt="Photo Boku">

            <div class="posts__info">
                <h3 class="heading-tertiary posts-title ">Kami no Tou</h3>

                <p class="paragraph-info">There is a tower that summons chosen people called "Regulars" with the promise of granting their deepest desires. Whether it be wealth, fame, authority, or something that surpasses them all—everything awaits those who reach the top.

                    Twenty-Fifth Bam is a boy who had only known a dark cave, a dirty cloth, and an unreachable light his entire life. So when a girl named Rachel came to him through the light, his entire world changed. Becoming close friends with Rachel, he learned various things about the outside world from her. But when Rachel says she must leave him to climb the Tower, his world shatters around him. Vowing to follow after her no matter what it takes, he sets his sight on the tower, and a miracle occurs.
                    
                    Thus begins the journey of Bam, a young boy who was not chosen by the Tower but opened its gates by himself. They call his kind "Irregulars"—beings that have shaken the very foundation of the Tower each time they set foot inside it.</p>

                <ul class="posts__info-list">
                    <li class="posts__info-item">Action</li>
                    <li class="posts__info-item">Adventure</li>
                    <li class="posts__info-item">Drama</li>
                    <li class="posts__info-item">Fantasy</li>
                    <li class="posts__info-item">Mystery</li>
                </ul>
            </div>
           
        </div>

        <div class="posts">
            <img class="posts-img" src="../static/images/gleipnir-2020.jpg" alt="Photo Boku">

            <div class="posts__info">
                <h3 class="heading-tertiary posts-title ">Gleipnir</h3>

                <p class="paragraph-info">Shuuichi Kagaya is what one would consider an average high school student, but sometimes, he turns into a monster. He doesn't know how or why he got his abilities, only that he would prefer no one knows about them. One night, he finds a building ablaze with a girl trapped inside. Deciding to save her, he transforms and carries her to safety, but accidentally drops his phone.

                    The next day, the girl he saved—Claire Aoki—finds him and confronts him about his monster identity. She even goes so far as to push him off the school roof to prove her theory after Shuuichi denies her allegations. Desperate to save himself, he transforms, and Claire snaps a picture in order to blackmail him into telling her everything he knows about monsters, which, ironically, isn't much.
                    
                    As it turns out, Claire has a secret of her own: she has been searching for her sister, who also became a monster. She enlists Shuuichi's help to track her down, but they aren't the only ones searching for answers.</p>

                <ul class="posts__info-list">
                    <li class="posts__info-item">Action</li>
                    <li class="posts__info-item">Mystery</li>
                    <li class="posts__info-item">Supernatural</li>
                    <li class="posts__info-item">Ecchi</li>
                    <li class="posts__info-item">Seinen</li>
                </ul>
            </div>
           
        </div>

    </div>

{% endblock main %}